<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<!--<meta name="_csrf" th:value="${_csrf.token}">-->
<title>Insert title here</title>
</head>
<body>
	<h1>메인 페이지입니다.</h1>
	<ul>
		<li>
			<a th:href="@{/user}">일반 사용자용 페이지로</a>
		</li>
		<li sec:authorize="hasRole('ADMIN')"> <!-- role_admin 권한만 보기 -->
			<a th:href="@{/admin}">관리자 전용 페이지로</a>
		</li>
	</ul>
	<th:block sec:authorize="isAuthenticated()">
		<p sec:authentication="name"></p>
		<p sec:authentication="principal.username"></p> 
		<!-- principal 은 loginUserVO 의 getAuthorities 의 값을 가져온다 -->
		<p sec:authentication="principal.authorities"></p>
	<form th:action="@{/logout}" method="post">
		<button type="submit">로그아웃</button>
	</form>
	</th:block>
</body>
</html>