<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
<meta charset="UTF-8">
<meta name="contextPath" th:value="${contextPath}">

<title>List</title>
</head>
<body>
	<div>
		<h3>전체 부서 조회</h3>
		<table>
			<thead>
				<tr>
					<th>No.</th>
					<th>부서번호</th>
					<th>부서이름</th>
					<th>관리자번호</th>
					<th>위치번호</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="info, stats : ${depts}">
					<tr>
						<td>[[${stats.count}]]</td>
						<td th:text="${info.departmentId}"/>
						<td th:text="${info.departmentName}"/>
						<td>[[${info.managerId}]]</td>
						<td>[[${info.locationId}]]<td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
	<script>
		const context = $('meta[name="contextPath"]').attr('value');
		$('tbody > tr').on('click', function(event){
			//let tr = event.currentTarget;
			let did = $(event.currentTarget).children().eq(1).text();
			let url = context + '/deptInfo?departmentId=' + did;
			location.href = url;
		});
	</script>
</body>
</html>