<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
<meta charset="UTF-8">

<title>Update</title>
</head>
<body>
	<form name = "updateForm" th:object="${dept}">
		<h3>부서 정보 수정</h3>
		<div>
			<label for="did">부서번호</label>
			<input type="text" id="did" name="departmentId" th:field="*{departmentId}" readonly>
		</div>
		<div>
			<label for="dname">부서이름</label>
			<input type="text" id="dname" name="departmentName" th:field="*{departmentName}">
		</div>
		<div>
			<label for="mid">관리자번호</label>
			<input type="text" id="mid" name="managerId" th:field="*{managerId}">
		</div>
		<div>
			<label for="lid">위치번호</label>
			<input type="text" id="lid" name="locationId" th:field="*{locationId}" >
		</div>
		<div>
			<button type="button" id="updateBtn">저장</button>
		</div>
	</form>
</body>
<script>
	$('#updateBtn').on('click', updateAjax)
	
	function updateAjax(event) {
		//1) 보낼 데이터 가져오기		
		let dataObj = getFormData();
		//2) AJAX
		$.ajax('deptUpdate', {
			type : 'post', //method
			contentType : 'application/json',
			data : JSON.stringify(dataObj)  //body
			//data : dataObj  //body
		})
		.done(result => {
			console.log(result);
		})
		.fail(err => console.log(err));
	}
	
	function getFormData(){
		let formAry = $('form[name="updateForm"]').serializeArray();
		let formObj = {};
		$.each(formAry, function(idx, tag){
			//console.log(idx, tag);
			//console.log(tag.name + ' : ' + tag.value);
			formObj[tag.name] = tag.value;
		});
		//console.clear();
		//console.log(formObj);
		return formObj;
	}
</script>
</html>